.container {
    align-items: center;
    padding: 100px;
    padding-top: 20px;
  }
  /* h1 {
    text-align: center;
  } */
  .container img {
    width: 400px;
    height: 400px;
    padding: auto;
    border: 10px solid #cecece;
    border-radius: 20px;
  }
  
  /* .recipe_img {
    display: flex;
    justify-content: center;
  } */
  
  p {
    font-size: 20px;
  }